<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<h4 style="margin-bottom:0px;padding-top:10px;">Submitted</h4>
<ul class="biblist">
<!-- Item:  -->
<li ><p>
<b>T. Kim</b> and C. Kim
<br><b>Attract, Explore, and Perturb: Learning a Feature Alignment Network for Semi-supervised Domain Adaptationn</b><br>
<br />
<!-- <a href="javascript:toggleBibtex('')">[BibTeX]</a> -->
</p>
</li>
	
<!-- Item:  -->
<li ><p>
Y. Kim, S. Choi, <b>T. Kim</b>, S. Lee, and C. Kim
<br><b>Learning to Align Multi-Camera Domains using Part-Aware Clustering for Unsupervised Video Person Re-Identification</b><br>
<br />
<!-- <a href="javascript:toggleBibtex('')">[BibTeX]</a> -->
</p>
</li>
	    
<!-- Item:  -->
<li ><p>
S. Choi, S. Lee, Y. Kim, <b>T. Kim</b>, and C. Kim
<br><b>Hi-CMD: Hierarchical Cross-Modality Disentanglement for Visible-Infrared Person Re-Identification</b><br>
<br />
<!-- <a href="javascript:toggleBibtex('')">[BibTeX]</a> -->
</p>
</li>
      </ul  >	   
	    
	    
<h4 style="margin-bottom:0px;padding-top:10px;">Top-Tier Conference Publications</h4>
<ul class="biblist">
<!-- Item:  -->
<li ><p>
<b>T. Kim</b>, M. Jeong, S. Kim, S. Choi, and C. Kim
<br><b>Diversify and Match: A Domain Adaptive Representation Learning Paradigm for Object Detection</b><br>
<i>Computer Vision and Pattern Recongnition (CVPR)</i>, 2019
<br />
<!-- <a href="javascript:toggleBibtex('')">[BibTeX]</a> -->
<a href="http://openaccess.thecvf.com/content_CVPR_2019/papers/Kim_Diversify_and_Match_A_Domain_Adaptive_Representation_Learning_Paradigm_for_CVPR_2019_paper.pdf" target="_blank">[Paper]</a> <!--,<a href=""  target="_blank">[Project Page]</a> -->
<a href="http://openaccess.thecvf.com/content_CVPR_2019/supplemental/Kim_Diversify_and_Match_CVPR_2019_supplemental.pdf" target="_blank">[Supp]</a> <!--,<a href=""  target="_blank">[Project Page]</a> -->
<a href="https://github.com/TKKim93/DivMatch" target="_blank">[Code]</a>
</p>
</li>


<!-- Item:  -->
<li ><p>
J. Choi, <b>T. Kim</b>, and C. Kim
<br><b>Self-Ensembling with GAN-based Data Augmentation for Domain Adaptation in Semantic Segmentation</b><br>
<i>Accepted to International Conference on Computer Vision (ICCV)</i>, 2019
<br />
<!-- <a href="javascript:toggleBibtex('')">[BibTeX]</a> -->
</p>
</li>
	

<!-- Item:  -->
<li ><p>
S. Kim, J. Choi, <b>T. Kim</b>, and C. Kim
<br><b>Self-Training with Adversarial Background Regularization for Unsupervised Domain Adaptive One-Stage Object Detection</b><br>
<i>Accepted to International Conference on Computer Vision (ICCV)</i>, 2019, Oral Presentation
<br />
<!-- <a href="javascript:toggleBibtex('')">[BibTeX]</a> -->
</p>
</li>


      </ul  >





    
    
<h4 style="margin-bottom:0px;padding-top:20px;">Other Publications</h4>
<ul class="biblist">	      
<!-- Item:  -->
<li ><p>

J. Choi, M. Jeong, <b>T. Kim</b>, and C. Kim
<br><b>Pseudo-Labeling Curriculum for Unsupervised Domain Adaptation</b><br>
<i>British Machine Vision Conference (BMVC)</i>, 2019
<br />
</p>
</li>
	      	     
<!-- Item:  -->
<li ><p>
Y. Kim*, S. Kim*, <b>T. Kim</b>, and C. Kim
<br><b>CNN-Based Semantic Segmentation Using Level Set Loss</b><br>
<i>Winter Conference on Applications of Computer Vision (WACV)</i>, 2019
<br />
<a href="https://ieeexplore.ieee.org/document/8658668?reason=concurrency">[Paper-IEEE]</a> 
</p>
</li>
      
<!-- Item:  -->
<li ><p>
Y. Kim, <b>T. Kim</b>, S. Kim, and C. Kim
<br><b>Weakly Supervised Semantic Segmentation Using Color Adjacency Loss</b><br>
<i> Visual Communications and Image Processing (VCIP)</i>, 2018
<br />
</p>
</li>      
      </ul  >      
	    
<h4 style="margin-bottom:0px;padding-top:20px;">Technical reports</h4>
<ul class="biblist">
	
	      
<!-- Item:  -->
<li ><p>

Y. Kim, S. Choi, <b>T. Kim</b>, S. Lee, C. Kim
<br><b>Learning to Align Multi-Camera Domain for Unsupervised Video Person Re-Identification</b><br>
<i>Technical Report</i>, 2019
<br />
<a href="https://arxiv.org/abs/1909.13248">[arXiv]</a> 
</p>
</li>
	      
	      
 <!-- Item:  -->
<li ><p>
Y. Kim, H. Lee, S. Choi, <b>T. Kim</b>, C. Kim
<br><b>RPM-Net: Robust Pixel-Level Matching Networks for Self-Supervised Video Object Segmentation</b><br>
<i>Technical Report</i>, 2019
<br />
<a href="https://arxiv.org/abs/1909.13247">[arXiv]</a> 
</p>
</li>	     
    
	      
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>

	
	

	      
