<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }
/* The item */
.biblist li { }
/* You can define custom styles for plstyle field here. */
/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<h4 style="margin-bottom:0px;padding-top:10px;">Professional Service</h4>
<ul class="biblist">
<!-- Item:  -->
<li ><p><b>Conference on Computer Vision and Pattern Recognition (CVPR)</b> </p></li>
<li ><p><b>Conference on Neural Information Processing Systems (NeurIPS)</b> </p></li>
<li ><p><b>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</b> </p></li>
<li ><p><b>International Journal of Computer Vision (IJCV)</b> </p></li>
</ul>
	
<h4 style="margin-bottom:0px;padding-top:10px;">Teaching</h4>
<ul class="biblist">
<!-- Item:  -->
<li ><p>2016 Fall, <b>Calculus II</b> (MAS102), KAIST, Teaching Assistant </p></li>
<li ><p>2016 Fall, KAIST, <b>Counselling</b> Assistant </p></li>
<li ><p>2017 Spring, <b>Introduction to Numerical Analysis</b> (MAS365), KAIST, Teaching Assistant </p></li>
<li ><p>2018 Spring,  <b>Introduction to Electronics Design Lab.</b> (EE305), KAIST, Teaching Assistant </p></li>
<li ><p>2018 Fall, <b>Advanced Feature extraction and 3D reconstruction</b> (EE838(A))), KAIST, Teaching Assistant </p></li>
<li ><p>2019 Spring, <b>Optimization for Computer Vision</b> (EE838), KAIST, Teaching Assistant </p></li>
<li ><p>2019 Fall, <b>Introduction to Electronics Design Lab.</b> (EE305), KAIST, Teaching Assistant </p></li>
</ul>	      
	    
	    
	    
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
